

.footerRight {
   
}

.logoleft {
    margin: 50px 0px;
}

.footerText {
    /* margin-left: 50px; */
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    text-align: justify;

}

.poweredBy {
    display: flex;
    justify-content: end;
    align-items: flex-start;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    color: #878787;
    margin: 10px;


}

.footerList {
    display: flex;
    align-items: center;
    flex-direction: column;
}

ul li {
    list-style: none;
    margin: 10px;
}

.footerlistHeading {

    font-size: 18px;
    font-weight: 600;
    margin-bottom: 35px;

}
/* @media only screen and (max-width: 770px) {
    .logoleft {
        height: 100px;
        margin-top: 20px;
    }
    .footerRight {
        height: 100px;
        margin-bottom: 20px;
    }
} */
/* @media only screen and (max-width: 375px) {
    .logoleft {
        height: 80px;
        margin-top: 20px;
    }
    .footerRight {
        height: 80px;
        width: 70px;
        margin-bottom: 20px;
    }
} */