.homemain {

    /* border: 2px solid red; */
    margin-top: 6rem;
    background-color: #E5E5E5;


}

/* ==================== header ==================  */
.headerContentArea{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 50vh;
}
.Action1{
    background-color: #f7910b !important;
    color: white;
    margin-right: 18px;
    width: 127px;
    
}
.Action2{
    width: 127px;
}
.Action2:hover{
    background-color: #f7910b !important;
}
.headerHeading{
    text-transform: capitalize;
font-size: 24px;
font-weight: 700;

text-align: center;

}




/* ================== Section two ==============  */
.sectionTwoMain {
    
    background-color: white;
    padding: 15px;
}

.sectionTwoLeft img {
    width: 200px;
    height: 200px;
    
}

.sectionTwoBody {
    display: flex;
    align-items: center;
    justify-content: center;
    
    margin: 106px 0px;
}

.LearnMore {
    background-color: #f7910b !important;
    border-radius: 2px;
    font-size: 20px;
    font-weight: 500;
    color: white;
    padding: 5px 30px;
}
.LearnMore:hover{
    background-color: white !important;
    color: #000000;
}
.sectionTwoHeading {
    font-size: 38px;
    font-weight: 600;
    color: #000000;

}
.sectionTwoSubHeading{
font-size: 28px !important;
font-weight: 600;


}